/* base (styles) */
*,
::after,
::before {
  box-sizing: border-box;
}
.section {
  padding-bottom: 48px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
a {
  display: inline-block;
}
p {
  margin-top: 0;
}
body {
  color: var(--color-primary-dark);
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  background-color: var(--color-primary-light);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
address {
  font-style: normal;
}
.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}
