:root {
  --color-brand-light: #819b57;
  --color-primary-light: #faf4ea;
  --color-primary-dark: #31261a;
  --color-brand-dark: #465929;
  --color-beige: #a18268;
  --color-gray: #cfcfbc;
  --color-secondary-brown: #a18268;
  --color-gray-2: #d9d9d9;
  --font-family: 'Poppins', sans-serif;
}
