.chef-card {
  display: flex;
  gap: 30px;

  &__title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 16px;
  }
  &__photo {
    border-radius: 4px 4px 4px 200px;
    box-shadow: -16px 16px 0px 0px
        var(--color-primary-light),
      -16px 16px 0px 2px var(--color-secondary-brown);
  }
  &__text {
    margin-bottom: 24px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
