.formats-section {
  padding-top: 95px;
}
.formats-container {
  display: flex;
  gap: 32px;
  align-items: center;
}
.formats-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.formats-text {
  font-weight: 300;
  font-size: 14px;
  color: var(--color-primary-light);
}
.formats-subtitles {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-primary-light);
  margin-bottom: 16px;
}
.formats-item {
  flex-basis: calc((100% - 40px) / 3);
}
.format-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  position: relative;
  border: 1px solid lightgray;
  border-radius: 16px;
  padding: 24px;
  height: 444px;
  align-items: flex-start;
  background-image: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    #31261a 100%
  );
  transition: transform 0.3s;
}
.format-image {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.format-card:hover {
  transform: scale(1.05);
}
.formats-title {
  text-align: center;
  margin: 0 auto 80px;
}
